.create-card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.create-form-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  padding: 2em;
}

.create-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.term-form {
  padding-bottom: 2em;
}

.term-lookup {
  display: flex;
  flex-direction: column;
}

.definition-form {
  display: flex;
}

.definition-lookup{
  display: flex;
  flex-direction: column;
}


.create-card {
  margin-top: 1em;
}

#lookup {
  cursor: pointer;
}

.term-input {
  resize: none;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 15em;
	border: 1px solid #cccccc;
	padding: 5px;
  font-family: "Red Hat Display";
  font-size: 1em;
  border-radius: 0.7em;
  
}

.definition-input {
  resize: none;
  width: 15em;
	height: 12em;
  border: 1px solid #cccccc;
  margin-top: 1em;
  margin-bottom: 2em;
	padding: 5px;
  font-family: "Red Hat Display";
  font-size: 1em;
  border-radius: 1em;
}

#fetch-checkbox {
  font-family: "Red Hat Display";
  font-size: 1em;
  color: #6D6986;
}

.title {
  font-family: "Red Hat Display";
  font-size: 2em;
  font-weight: 600;
  color: #6D6986;
}

.card-preview-wrap {
  padding: 2em;
}

#fetch-question {
  font-family: "Red Hat Display";
  font-size: 1em;
  color: #6D6986;
}

