.big-wrap {
  display: block;
  align-items: center;
  transform: translateZ(0);
 
}

.flipCard {
  -webkit-perspective: 600;
  -ms-perspective: 600;
  -moz-perspective: 600;
  -o-perspective: 600;   
   /* perspective: 600; */
   width: 21em;
   height: 35em;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.flipCard .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

.flipCard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.flipCard .card .side {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  backface-visibility: hidden; /* Safari & Chrome */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125);
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
}
.flipCard .card .back {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  text-align: center;
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

.flipCard .card .front {
  /* font-family: "Libre Baskerville";
  font-size: 1em;
  text-align: center; */
  background-color: #C1E5E4;
  border-radius: 20px;
}

.flipCard .card .back {
  color: black;
  font-family: "Red Hat Display";
  font-size: 1em;
}

.card-back-top-border {
  position: absolute;
  width: 21em;
  height: 2em;
  background: #84E296;
  border-radius: 20px 20px 0px 0px;
}

.card-front-top-border {
  position: absolute;
  width: 21em;
  height: 2em;
  background: #69C7C3;
  border-radius: 20px 20px 0px 0px;
}


div.card-term {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 45%;
  margin-right:10%;
  margin-left:10%;
  font-family: "Libre Baskerville";
  font-size: 2em;
  font-weight: 400;
  color: #6D6986;
  letter-spacing: 1px;
  user-select: none;

}

.delete-button {
  text-align: center;
  margin-top: 2em;
  background-color: #EB5757;
  height: 2em;
  padding-top: 0.7em;
  border-radius: 1.5em;
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  margin-left: 32%;
  margin-right: 32%;
}

.delete-button:hover {
  background-color: red;
}